
.bg{

	width: 100%;
}

.form-container{
	border: 0px solid #fff;
	padding: 50px 60px;
	margin-top:4vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;;
}
